<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Born on:</b>
  <%= @person.born_on %>
</p>

<p>
  <b>Height:</b>
  <%= @person.height %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
