<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Country</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.person_id %></td>
    <td><%= contact.address %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.fax %></td>
    <td><%= contact.country %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
